.detail {
  margin-top: 10px;
  height: calc(100vh - 64px - 10px);
  width: 100%;
  overflow-y: scroll;
}
.detail > h1 {
  margin: 0;
  padding: 10px;
  width: 100%;
  text-align: center;
  color: #ff6a00;
  font-size: 24px;
}
